#Windows
*.sdf
*.suo
*.user
*.sln.docstates
*.opensdf
x64/
Debug/
Release/

#Mac
*.DS_Store
*.xcuserstate
xcuserdata/

#other
Doxy Docs/
local.doxygen
extern_support/lua/*
extern_support/tinyxml2/*
*.omet
*.pyc